body {
    background-color: #f2e6ff;
    /* font-family: 'Amatic SC', cursive ; */
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

li {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

p{
    text-align: center;
}

.top-style{
    font-size: 30px;
}

div {
    text-align: center;
}

button {
    background-color: #17a2b8;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    display: flex; justify-content: center;
    color: whitesmoke;
    border-radius: .3rem;
}

.hide {
    display: none;
}

.winner-info {
    background-color: white;
}

.final-score{
    color: #17a2b8;
}

.question{
    font-size: 40px;
}
.container-fluid{
    background-color: white;
}